<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Finder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h3>Categories</h3>
            <ul>
                <li><a href="#" onclick="showJobs('python')">Python Jobs <span data-category="python" class="badge job-badge">0</span></a></li>
                <li><a href="#" onclick="showJobs('react')">React Jobs <span data-category="react" class="badge job-badge">0</span></a></li>
                <li><a href="#" onclick="showJobs('us')">US Jobs <span data-category="us" class="badge job-badge">0</span></a></li>
                <li><a href="#" onclick="showJobs('node')">Node.js Jobs <span data-category="node" class="badge job-badge">0</span></a></li>
                <li><a href="#" onclick="showJobs('php')">PHP Jobs <span data-category="php" class="badge job-badge">0</span></a></li>
                <li><a href="#" onclick="showJobs('wordpress')">Wordpress Jobs <span data-category="wordpress" class="badge job-badge">0</span></a></li>
                <li><a href="#" onclick="showJobs('quickbooks')">QuickBooks Jobs <span data-category="quickbooks" class="badge job-badge">0</span></a></li>
                <li><a href="#" onclick="showJobs('shopify')">Shopify Jobs <span data-category="shopify" class="badge job-badge">0</span></a></li>
                <li><a href="#" onclick="showJobs('apiIntegration')">API Integration Jobs <span data-category="apiIntegration" class="badge job-badge">0</span></a></li>
                <li><a href="#" onclick="showJobs('paymentGateway')">Payment Gateway Jobs <span data-category="paymentGateway" class="badge job-badge">0</span></a></li>
                <li><a href="#" onclick="showJobs('fullTime')">Full-Time Jobs <span data-category="fullTime" class="badge job-badge">0</span></a></li>
                <li><a href="#" onclick="showJobs('chatbot')">Chatbot Jobs <span data-category="chatbot" class="badge job-badge">0</span></a></li>
                <li><a href="#" onclick="showJobs('scripting')">Scripting Jobs <span data-category="scripting" class="badge job-badge">0</span></a></li>
                <li><a href="#" onclick="showJobs('bubble')">Bubble Jobs <span data-category="bubble" class="badge job-badge">0</span></a></li>
                <li><a href="#" onclick="showJobs('webrtc')">WebRTC Jobs <span data-category="webrtc" class="badge job-badge">0</span></a></li>
                <li><a href="#" onclick="showJobs('vue')">Vue.js Jobs <span data-category="vue" class="badge job-badge">0</span></a></li>
            </ul>

        </div>
        <div class="main-content" style="
            overflow: scroll;
            height: 90vh">
                <div id="pythonJobs" style="display: none;">
                <h1>Python Jobs</h1>
                <div id ="job-item">
                {% for job in python_entries %}
                <div class="job-item" >
                    <a class="job-title" href="{{ job.link }}" onclick="markAsClicked(this)" target="_blank">{{ job.title }}</a>
                    <p class="job-published">Published: {{ job.published }}</p>
                </div>
                {% endfor %}
            </div>
            </div>
            
            <div id="reactJobs" style="display: none;">
                <h1>React Jobs</h1>
                {% for job in react_entries %}
                <div class="job-item">
                    <a class="job-title" href="{{ job.link }}" onclick="markAsClicked(this)" target="_blank">{{ job.title }}</a>
                    <p class="job-published">Published: {{ job.published }}</p>
                </div>
                {% endfor %}
            </div>
            
            <div id="usJobs" style="display: none;">
                <h1>US Jobs</h1>
                {% for job in us_entries %}
                <div class="job-item">
                    <a class="job-title" href="{{ job.link }}" onclick="markAsClicked(this)" target="_blank">{{ job.title }}</a>
                    <p class="job-published">Published: {{ job.published }}</p>
                </div>
                {% endfor %}
            </div>
            
            <div id="nodeJobs" style="display: none;">
                <h1>Node.js Jobs</h1>
                {% for job in node_entries %}
                <div class="job-item">
                    <a class="job-title" href="{{ job.link }}" onclick="markAsClicked(this)" target="_blank">{{ job.title }}</a>
                    <p class="job-published">Published: {{ job.published }}</p>
                </div>
                {% endfor %}
            </div>
            
            <div id="phpJobs" style="display: none;">
                <h1>PHP Jobs</h1>
                {% for job in php_entries %}
                <div class="job-item">
                    <a class="job-title" href="{{ job.link }}" onclick="markAsClicked(this)" target="_blank">{{ job.title }}</a>
                    <p class="job-published">Published: {{ job.published }}</p>
                </div>
                {% endfor %}
            </div>
            
            <div id="wordpressJobs" style="display: none;">
                <h1>Wordpress Jobs</h1>
                {% for job in wordpress_entries %}
                <div class="job-item">
                    <a class="job-title" href="{{ job.link }}" onclick="markAsClicked(this)" target="_blank">{{ job.title }}</a>
                    <p class="job-published">Published: {{ job.published }}</p>
                </div>
                {% endfor %}
            </div>
            
            <div id="quickbooksJobs" style="display: none;">
                <h1>QuickBooks Jobs</h1>
                {% for job in quickbooks_entries %}
                <div class="job-item">
                    <a class="job-title" href="{{ job.link }}" onclick="markAsClicked(this)" target="_blank">{{ job.title }}</a>
                    <p class="job-published">Published: {{ job.published }}</p>
                </div>
                {% endfor %}
            </div>
            
            <div id="shopifyJobs" style="display: none;">
                <h1>Shopify Jobs</h1>
                {% for job in shopify_entries %}
                <div class="job-item">
                    <a class="job-title" href="{{ job.link }}" onclick="markAsClicked(this)" target="_blank">{{ job.title }}</a>
                    <p class="job-published">Published: {{ job.published }}</p>
                </div>
                {% endfor %}
            </div>
            
            <div id="apiIntegrationJobs" style="display: none;">
                <h1>API Integration Jobs</h1>
                {% for job in api_integration_entries %}
                <div class="job-item">
                    <a class="job-title" href="{{ job.link }}" target="_blank">{{ job.title }}</a>
                    <p class="job-published">Published: {{ job.published }}</p>
                </div>
                {% endfor %}
            </div>
        
            <div id="paymentGatewayJobs" style="display: none;">
                <h1>Payment Gateway Jobs</h1>
                {% for job in payment_gateway_entries %}
                <div class="job-item">
                    <a class="job-title" href="{{ job.link }}" target="_blank">{{ job.title }}</a>
                    <p class="job-published">Published: {{ job.published }}</p>
                </div>
                {% endfor %}
            </div>
        
            <div id="fullTimeJobs" style="display: none;">
                <h1>Full-Time Jobs</h1>
                {% for job in full_time_entries %}
                <div class="job-item">
                    <a class="job-title" href="{{ job.link }}" target="_blank">{{ job.title }}</a>
                    <p class="job-published">Published: {{ job.published }}</p>
                </div>
                {% endfor %}
            </div>
            
            <div id="chatbotJobs" style="display: none;">
                <h1>Chatbot Jobs</h1>
                {% for job in chatbot_entries %}
                <div class="job-item">
                    <a class="job-title" href="{{ job.link }}" onclick="markAsClicked(this)" target="_blank">{{ job.title }}</a>
                    <p class="job-published">Published: {{ job.published }}</p>
                </div>
                {% endfor %}
            </div>
            
            <div id="scriptingJobs" style="display: none;">
                <h1>Scripting Jobs</h1>
                {% for job in scripting_entries %}
                <div class="job-item">
                    <a class="job-title" href="{{ job.link }}" onclick="markAsClicked(this)" target="_blank">{{ job.title }}</a>
                    <p class="job-published">Published: {{ job.published }}</p>
                </div>
                {% endfor %}
            </div>
            
            <div id="bubbleJobs" style="display: none;">
                <h1>Bubble Jobs</h1>
                {% for job in bubble_entries %}
                <div class="job-item">
                    <a class="job-title" href="{{ job.link }}" onclick="markAsClicked(this)" target="_blank">{{ job.title }}</a>
                    <p class="job-published">Published: {{ job.published }}</p>
                </div>
                {% endfor %}
            </div>
            
            <div id="webrtcJobs" style="display: none;">
                <h1>WebRTC Jobs</h1>
                {% for job in webrtc_entries %}
                <div class="job-item">
                    <a class="job-title" href="{{ job.link }}" onclick="markAsClicked(this)" target="_blank">{{ job.title }}</a>
                    <p class="job-published">Published: {{ job.published }}</p>
                </div>
                {% endfor %}
            </div>
            
            <div id="vueJobs" style="display: none;">
                <h1>Vue.js Jobs</h1>
                {% for job in vue_entries %}
                <div class="job-item">
                    <a class="job-title" href="{{ job.link }}" onclick="markAsClicked(this)" target="_blank">{{ job.title }}</a>
                    <p class="job-published">Published: {{ job.published }}</p>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
    
            {% for job in previous_entries %}
            <div class="job-item">
                <a class="job-title" href="{{ job.link }}" onclick="markAsClicked(this)" target="_blank">{{ job.title }}</a>
                <p class="job-published">Published: {{ job.published }}</p>
            </div>
            {% endfor %}
        </div>
        <div id="notificationContainer"></div>
        <div id="connectionStatus">Connecting...</div>
<div id="logContainer" style="position: fixed; bottom: 20px; right: 20px; background-color: rgba(255, 255, 255, 0.8); padding: 10px; border-radius: 5px; max-width: 300px; overflow-y: auto; max-height: 200px;"></div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>   
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</body>
</html>